/** General **/

header,
footer {
    background-color: $color-rojo;
}

h1 {
    font-size: 5rem;
    color: $color-rojo;
    @include paddingY (null, 3rem);
}

h2 {
    font-size: 3rem;
    color: $color-blue;
}

p {
    padding-bottom: 2rem;
}

.logo {
    max-width: 8rem;
    max-height: 10rem;
    
	&:hover {
		transition: all 0.5s;
		transform: scale(1.2);
	}
}

.hero {
    @include paddingY (10rem, 10rem);
}