/** Header **/

.menu {
    list-style: none;
    @include paddingX (2rem, 3rem)
}

.navbar { 
	li {
	    margin-right: 1rem;
	}

	a {
	    font-size: 3rem;
	    color: white;
	    text-decoration-line: underline;
	}

	&-collapse {
    display: flex;
	}
}

.nav-link {
	&:hover {
		color: $color-blue;
		transition: all 0.6s;
	}
}