/** Header **/

.menu {
    list-style: none;
    @include paddingX (2rem, 3rem)
}

.navbar { 
	li {
	    margin-right: 1rem;
	}

	a {
	    font-size: 3rem;
	    color: white;
	    
	}

	&-collapse {
    display: flex;
	}
}

.nav-link {
	border-radius: 1.2rem;
	
	&:hover {
		color: $color-gold;
		transition: all 0.5s;
		cursor: pointer;
		background-color: $color-blue;
	}
}