/** Semillero **/

.jugadores {
	grid-row-gap: 50px;

	.col {
		@include paddingX (1.5rem, 1.5rem);
	    padding-bottom: 5rem;
		background-color: rgba(23, 49, 214, 0.3);
		padding: 35px;
		border-radius: 15px;

		&:hover {
			transform: scale(1.05);
			background-color: rgba(23, 49, 214, 0.7);
			transition: all .2s ease-in-out; 

			h2 {
				color: $color-rojo
			}
		  }
	}

	img {
		max-height: 400px;
		max-width: 100%;
	    padding-bottom: 5rem;
	    margin: auto;
	    display: block;
	}
}