/** Titulos **/

.titulos {
	.col-md-8 {
		background-color: white;
		border-radius: 5rem;
		@include paddingY (2rem, 2rem);
		@include paddingX (5rem, 5rem);
	}
	
	a {
	    color: $color-gold;
		font-weight: bold;  

	    &:hover{
	    	color: $color-rojo;
			transition: all 1s;
	    }
	}

	li {
		@include paddingY (1.5rem, 1.5rem);
	}
}